In [1]:
import pandas as pd
import numpy as np
import sqlite3 as sql

In [2]:
df= pd.read_excel(r'C:\Users\arvinmvn\Desktop\AWS SAMI Reports\MAA\AWS MAA Verifers Quality Report\AWS Verification Quality Generation Master File.xlsx')
df.head()

,week,Date,user ID,link,file size,TC,VC,error categorization,sub categorization,comments,Total Opportunities,Total Defects
0,39.0,2021-09-30 00:00:00,arvinmvn,https://broadcast.amazon.com/videos/54466,1900-01-02 01:57:00,"Hi everyone, thanks for us for #uh the techini...","Hi everyone, thanks for join us for #uh the te...",Listening,Missing Words,NaN,78.0,2.0
1,40.0,2021-09-30 00:00:00,arvinmvn,https://broadcast.amazon.com/videos/54466,1900-01-02 01:57:00,which is to let him talk about his story but y...,which is to let him talk about his story but y...,NaN,NaN,NaN,54.0,0.0
2,38.0,22/9/2021,cliffpal,https://broadcast.amazon.com/videos/28452,00:35:11,"Andy Jassy, Senior Vice President [breath] of ...","Andy Jassy, Senior Vice President [breath] of ...",NaN,NaN,NaN,22.0,0.0
3,38.0,22/9/2021,cliffpal,https://broadcast.amazon.com/videos/28452,00:35:11,I'm delighted to have Andy here and I've got t...,I'm delighted to have Andy here and I've got t...,NaN,NaN,NaN,43.0,0.0
4,38.0,22/9/2021,cliffpal,https://broadcast.amazon.com/videos/28452,00:35:11,We're actually gonna get a little bit behind t...,We're actually gonna get a little bit behind t...,NaN,NaN,NaN,55.0,0.0

In [3]:
table_opportunties= pd.pivot_table(df, values=['Total Opportunities'],
                         index=['user ID'], 
                         columns= [] ,margins=False,
                         margins_name='total', aggfunc=sum , fill_value=0)
pd.set_option('display.max_rows', df.shape[0]+1)
table_opportunties

table_defects= pd.pivot_table(df, values=['Total Defects'],
                         index=['user ID'], 
                         columns= [] ,margins=False,
                         margins_name='total', aggfunc=sum , fill_value=0)
pd.set_option('display.max_rows', df.shape[0]+1)
table_defects

          Total Defects
user ID
arvinmvn              2
cliffpal              0
dennypau              3
djaga                 3
gopinana              2
jhus                  4
keerdoss              0
mhaaami               2
mmzsai               13
ntox                 32
pdikcha               0
vsreevat             24

In [4]:
df_SQL = df.rename(columns = {'week': 'week',
                          'Date': 'Date',
                           'user ID' :'userID',
                            'Workflow' :'Work',
                             'file size':'filesize',
                              'TC':'TC',
                              'VC':'VC',
                          'error categorization': 'errorcategorization',
                           'sub categorization': 'subcategorization','Total Opportunities': 'TotalOpportunities',
                          'Total Defects': 'TotalDefects',}, inplace = False)
df_SQL.head()

,week,Date,userID,link,filesize,TC,VC,errorcategorization,subcategorization,comments,TotalOpportunities,TotalDefects
0,39.0,2021-09-30 00:00:00,arvinmvn,https://broadcast.amazon.com/videos/54466,1900-01-02 01:57:00,"Hi everyone, thanks for us for #uh the techini...","Hi everyone, thanks for join us for #uh the te...",Listening,Missing Words,NaN,78.0,2.0
1,40.0,2021-09-30 00:00:00,arvinmvn,https://broadcast.amazon.com/videos/54466,1900-01-02 01:57:00,which is to let him talk about his story but y...,which is to let him talk about his story but y...,NaN,NaN,NaN,54.0,0.0
2,38.0,22/9/2021,cliffpal,https://broadcast.amazon.com/videos/28452,00:35:11,"Andy Jassy, Senior Vice President [breath] of ...","Andy Jassy, Senior Vice President [breath] of ...",NaN,NaN,NaN,22.0,0.0
3,38.0,22/9/2021,cliffpal,https://broadcast.amazon.com/videos/28452,00:35:11,I'm delighted to have Andy here and I've got t...,I'm delighted to have Andy here and I've got t...,NaN,NaN,NaN,43.0,0.0
4,38.0,22/9/2021,cliffpal,https://broadcast.amazon.com/videos/28452,00:35:11,We're actually gonna get a little bit behind t...,We're actually gonna get a little bit behind t...,NaN,NaN,NaN,55.0,0.0

In [5]:
from pathlib import Path
Path('aws_verification_quality_summary.db').touch()

In [6]:
## connect to local

conn = sql.connect('aws_verification_quality_summary.db')
c = conn.cursor()

In [7]:
## Read SQL Data frame

df_SQL.to_sql('aws_verification_quality_summary_db_table', conn, if_exists='append', index=False)
df_SQL.head()

,week,Date,userID,link,filesize,TC,VC,errorcategorization,subcategorization,comments,TotalOpportunities,TotalDefects
0,39.0,2021-09-30 00:00:00,arvinmvn,https://broadcast.amazon.com/videos/54466,1900-01-02 01:57:00,"Hi everyone, thanks for us for #uh the techini...","Hi everyone, thanks for join us for #uh the te...",Listening,Missing Words,NaN,78.0,2.0
1,40.0,2021-09-30 00:00:00,arvinmvn,https://broadcast.amazon.com/videos/54466,1900-01-02 01:57:00,which is to let him talk about his story but y...,which is to let him talk about his story but y...,NaN,NaN,NaN,54.0,0.0
2,38.0,22/9/2021,cliffpal,https://broadcast.amazon.com/videos/28452,00:35:11,"Andy Jassy, Senior Vice President [breath] of ...","Andy Jassy, Senior Vice President [breath] of ...",NaN,NaN,NaN,22.0,0.0
3,38.0,22/9/2021,cliffpal,https://broadcast.amazon.com/videos/28452,00:35:11,I'm delighted to have Andy here and I've got t...,I'm delighted to have Andy here and I've got t...,NaN,NaN,NaN,43.0,0.0
4,38.0,22/9/2021,cliffpal,https://broadcast.amazon.com/videos/28452,00:35:11,We're actually gonna get a little bit behind t...,We're actually gonna get a little bit behind t...,NaN,NaN,NaN,55.0,0.0

In [8]:
## Weekly Quality Query

sql='''

Select 
Week,
userid,
sum(totalopportunities) as opportunities,
sum(totaldefects) as defects,100*(round(1 - sum(totaldefects)/sum(totalopportunities),4)) as Quality

from aws_verification_quality_summary_db_table
where userID !='NA' and Week=43
group by week,userid

''';

    
df_week_sql = pd.read_sql_query(sql,conn)
df_week_sql.head(100)

   week    userID  opportunities  defects  Quality
0  43.0  cliffpal          375.0      0.0   100.00
1  43.0  dennypau          205.0      0.0   100.00
2  43.0     djaga          273.0      0.0   100.00
3  43.0  gopinana          201.0      0.0   100.00
4  43.0      jhus          278.0      0.0   100.00
5  43.0  keerdoss          276.0      0.0   100.00
6  43.0    mmzsai          102.0      0.0   100.00
7  43.0      ntox          245.0      1.0    99.59
8  43.0   pdikcha          527.0      0.0   100.00
9  43.0  vsreevat          327.0      0.0   100.00

In [9]:
## Weekly Quality Data wise split Quality Query

sql='''

Select 
Week,date,
userid,
sum(totalopportunities) as opportunities,
sum(totaldefects) as defects,100*(round(1 - sum(totaldefects)/sum(totalopportunities),4)) as Quality

from aws_verification_quality_summary_db_table
where userID !='NA' and Week=43
group by week,date,userid

''';

    
df_date_wise_sql = pd.read_sql_query(sql,conn)
df_date_wise_sql.head(100)

    week                 Date    userID  opportunities  defects  Quality
0   43.0  2021-10-25 00:00:00  dennypau           48.0      0.0   100.00
1   43.0  2021-10-25 00:00:00     djaga           63.0      0.0   100.00
2   43.0  2021-10-25 00:00:00  gopinana           56.0      0.0   100.00
3   43.0  2021-10-25 00:00:00      jhus           82.0      0.0   100.00
4   43.0  2021-10-25 00:00:00  keerdoss           49.0      0.0   100.00
5   43.0  2021-10-25 00:00:00      ntox           74.0      0.0   100.00
6   43.0  2021-10-25 00:00:00   pdikcha          113.0      0.0   100.00
7   43.0  2021-10-25 00:00:00  vsreevat           72.0      0.0   100.00
8   43.0  2021-10-26 00:00:00  dennypau           52.0      0.0   100.00
9   43.0  2021-10-26 00:00:00  gopinana           48.0      0.0   100.00
10  43.0  2021-10-26 00:00:00  keerdoss           53.0      0.0   100.00
11  43.0  2021-10-26 00:00:00    mmzsai           29.0      0.0   100.00
12  43.0  2021-10-26 00:00:00      ntox           82.0      1.0    98.78
13  43.0  2021-10-26 00:00:00   pdikcha          108.0      0.0   100.00
14  43.0  2021-10-27 00:00:00  cliffpal          189.0      0.0   100.00
15  43.0  2021-10-27 00:00:00  dennypau           54.0      0.0   100.00
16  43.0  2021-10-27 00:00:00     djaga           75.0      0.0   100.00
17  43.0  2021-10-27 00:00:00  gopinana           52.0      0.0   100.00
18  43.0  2021-10-27 00:00:00      jhus           57.0      0.0   100.00
19  43.0  2021-10-27 00:00:00  keerdoss           83.0      0.0   100.00
20  43.0  2021-10-27 00:00:00    mmzsai           44.0      0.0   100.00
21  43.0  2021-10-27 00:00:00      ntox           56.0      0.0   100.00
22  43.0  2021-10-27 00:00:00   pdikcha           94.0      0.0   100.00
23  43.0  2021-10-27 00:00:00  vsreevat           86.0      0.0   100.00
24  43.0  2021-10-28 00:00:00  cliffpal           35.0      0.0   100.00
25  43.0  2021-10-28 00:00:00  dennypau           51.0      0.0   100.00
26  43.0  2021-10-28 00:00:00     djaga           64.0      0.0   100.00
27  43.0  2021-10-28 00:00:00      jhus           71.0      0.0   100.00
28  43.0  2021-10-28 00:00:00  keerdoss           52.0      0.0   100.00
29  43.0  2021-10-28 00:00:00    mmzsai           29.0      0.0   100.00
30  43.0  2021-10-28 00:00:00   pdikcha          112.0      0.0   100.00
31  43.0  2021-10-28 00:00:00  vsreevat           86.0      0.0   100.00
32  43.0  2021-10-29 00:00:00  cliffpal          151.0      0.0   100.00
33  43.0  2021-10-29 00:00:00     djaga           71.0      0.0   100.00
34  43.0  2021-10-29 00:00:00  gopinana           45.0      0.0   100.00
35  43.0  2021-10-29 00:00:00      jhus           68.0      0.0   100.00
36  43.0  2021-10-29 00:00:00  keerdoss           39.0      0.0   100.00
37  43.0  2021-10-29 00:00:00      ntox           33.0      0.0   100.00
38  43.0  2021-10-29 00:00:00   pdikcha          100.0      0.0   100.00
39  43.0  2021-10-29 00:00:00  vsreevat           83.0      0.0   100.00

In [10]:
list= df_date_wise_sql['userID'].unique()
len(list)

10

In [11]:
import win32com.client as win32
for i in range(0,len(list)):
    table_sss_date_wise = pd.pivot_table(df_date_wise_sql[df_date_wise_sql['userID']== list[i]], values=['opportunities', 'defects','Quality'], index=['userID','Date'], columns= [] ,margins=False,
               margins_name='total', aggfunc=sum , fill_value=0)
    
    table_sss_week = pd.pivot_table(df_week_sql[df_week_sql['userID']== list[i]], values=['opportunities', 'defects','Quality'], index=['userID'], columns= [] ,margins=False,
               margins_name='total', aggfunc=sum , fill_value=0)
## display all options
    pd.set_option('display.max_rows', df.shape[0]+1)
    #print(table_sss)
    ##email to DAs :- one click still in pipeline

    outlook = win32.Dispatch('outlook.application')
    mail = outlook.CreateItem(0)
    mail.Subject = 'AWS Verification Quality Report'
    #mail.To='arvinmvn@amazon.com'
    mail.To = list[i]+'@amazon.com'  
    mail.CC = 'czvij@amazon.com'
    
## i-> position of data in dataframe
    mail.HTMLBody ='''<h3>Hi, Please find your quality for Week.</h3> ''' + '''<h3>Table 1:- Overall Week Quality</h3>
                   {}'''.format(table_sss_week.style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}

]
).set_precision(2).render()) + '''<h3> Table 2:- Date Wise Quality for the week</h3>
                   {}'''.format(table_sss_date_wise.style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}

]
).set_precision(2).render())  ## : i + 1 increment 1 of index 
# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

    mail.Send()

In [13]:
## Overturns Query

overturn_sql='''

Select 
Week,date,userid,link,filesize,TC,VC,errorcategorization,subcategorization,comments

from aws_verification_quality_summary_db_table
where errorcategorization !='NA' and userID !='NA' and Week=43


''';

    
df_overturn_sql = pd.read_sql_query(overturn_sql,conn)
df_overturn_sql.head()

,week,Date,userID,link,filesize,TC,VC,errorcategorization,subcategorization,comments
0,43.0,2021-10-26 00:00:00,ntox,https://broadcast.amazon.com/videos/91748,00:51:39.000000,everytime you #uh get something you're gonna g...,everytime you #uh get something you're gotta g...,Listening,Wrong Words,None

In [14]:
list= df_overturn_sql['userID'].unique()
len(list)

1

In [15]:
import win32com.client as win32
for i in range(0,len(list)):
    
## display all options
   
    #print(table_sss)
    ##email to DAs :- one click still in pipeline

    outlook = win32.Dispatch('outlook.application')
    mail = outlook.CreateItem(0)
    mail.Subject = 'AWS Verification Overturns Report'
    #mail.To='arvinmvn@amazon.com'
    mail.To = list[i]+'@amazon.com'  
    mail.CC = 'czvij@amazon.com'
    
## i-> position of data in dataframe
    mail.HTMLBody = '''<h3>Hi, Please find your quality for the week.</h3>
                   {}'''.format(df_overturn_sql[df_overturn_sql['userID']==list[i]].style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}

]
).set_precision(2).render())  ## : i + 1 increment 1 of index 
# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

    mail.Send()