In [7]:
##view RAW Data
import pandas as pd
import numpy as np
df= pd.read_excel(r'C:\Users\arvinmvn\Desktop\AWS SAMI Reports\MAA\AWS Quality RAW Base (for @arvinmvn)\AWS Verification Quality Quip RAW_Week 48.xlsx',)
df.head()

,Date,User ID,Trans ID,Trans Site,Verif Site,Queue name,Audio Length,DMID,File Theme,Transcribed Content,Verified Content,Error Categorization,Sub-categorization,Comments,Total Opportunities,Total Defects
0,29-11-2021,djaga,gkvitha,MAA,MAA,verify 1,00:00:21.960,1172353e1fbcf559e78744900095ba17,Other: Mention in comments,--,--,NaN,NaN,noise marked correctly,2.0,0.0
1,29-11-2021,djaga,gkvitha,MAA,MAA,verify 1,00:00:21.960,1172353e1fbcf559e78744900095ba17,Other: Mention in comments,--,--,NaN,NaN,noise marked correctly,2.0,0.0
2,29-11-2021,djaga,gkvitha,MAA,MAA,verify 1,00:00:21.960,1172353e1fbcf559e78744900095ba17,Other: Mention in comments,"Sry, we culd not locate a recrd in our systm. ...","Sry, we culd not locate a recrd in our systm. ...",Listening,Wrong Words,NaN,21.0,3.0
3,29-11-2021,djaga,gkvitha,MAA,MAA,verify 1,00:00:21.960,1172353e1fbcf559e78744900095ba17,Other: Mention in comments,"Sry, we culd not locate a recrd in our systm. ...","Sry, we culd not locate a recrd in our systm. ...",Listening,Unintelligible,NaN,NaN,NaN
4,29-11-2021,djaga,gkvitha,MAA,MAA,verify 1,00:00:21.960,1172353e1fbcf559e78744900095ba17,Other: Mention in comments,--,--,NaN,NaN,noise marked correctly,2.0,0.0

In [8]:
print('sss')

sss

In [9]:
##add new column EC count and map the ECs to value 1..we do this to text to integer conversion to autocount in the pivot
## add new column TM and map the appropriate TMs
#df.insert(2, "EC Count", 1)
#df.insert(3, "Trans_TM",'')
#df.insert(4, "Verif_TM",'')
#df.insert(5, "Trans_Site",'')
df.head()

,Date,User ID,Trans ID,Trans Site,Verif Site,Queue name,Audio Length,DMID,File Theme,Transcribed Content,Verified Content,Error Categorization,Sub-categorization,Comments,Total Opportunities,Total Defects
0,29-11-2021,djaga,gkvitha,MAA,MAA,verify 1,00:00:21.960,1172353e1fbcf559e78744900095ba17,Other: Mention in comments,--,--,NaN,NaN,noise marked correctly,2.0,0.0
1,29-11-2021,djaga,gkvitha,MAA,MAA,verify 1,00:00:21.960,1172353e1fbcf559e78744900095ba17,Other: Mention in comments,--,--,NaN,NaN,noise marked correctly,2.0,0.0
2,29-11-2021,djaga,gkvitha,MAA,MAA,verify 1,00:00:21.960,1172353e1fbcf559e78744900095ba17,Other: Mention in comments,"Sry, we culd not locate a recrd in our systm. ...","Sry, we culd not locate a recrd in our systm. ...",Listening,Wrong Words,NaN,21.0,3.0
3,29-11-2021,djaga,gkvitha,MAA,MAA,verify 1,00:00:21.960,1172353e1fbcf559e78744900095ba17,Other: Mention in comments,"Sry, we culd not locate a recrd in our systm. ...","Sry, we culd not locate a recrd in our systm. ...",Listening,Unintelligible,NaN,NaN,NaN
4,29-11-2021,djaga,gkvitha,MAA,MAA,verify 1,00:00:21.960,1172353e1fbcf559e78744900095ba17,Other: Mention in comments,--,--,NaN,NaN,noise marked correctly,2.0,0.0

In [10]:
## for loop to map the TMs

for i in range (0,len(df)):
    
    if df['Trans ID'].values[i]== '#NA':
        df['Trans_TM'].values[i]='No Match'
    
    if df['Verif_Site'].values[i]=='MAA':
        df['Verif_TM'].values[i]='czvij'
        
    if df['Verif_Site'].values[i]=='HYD':
        df['Verif_TM'].values[i]='latikat'
    
    if df['Trans_Site'].values[i]=='MAA':
        df['Trans_TM'].values[i]='sarselv'
        
    if df['Trans_Site'].values[i]=='HYD':
        df['Trans_TM'].values[i]='latikat'

KeyError: 'Verif_Site'

In [13]:
#df.to_excel(r'C:\Users\arvinmvn\Desktop\output.xlsx')
df.head()

,Date,User ID,EC Count,Trans_TM,Verif_TM,Verif_Site,Trans_Site,Trans ID,Queue name,Audio Length,DMID,File Theme,Transcribed Content,Verified Content,Error Categorization,Sub-categorization,Comments,Total Opportunities,Total Defects
0,22-11-2021,amznsram,1,,czvij,MAA,sranyk,MAA,Verfiy-1,00:01:01.354,0fe8e8fc2044b473271f7e6110579b5c,Customer Care - Insurance,[breath] Hi. Ths is Burnham Willet. #um I knw ...,[breath] Hi. Ths is Earl Willet. #um I knw Ms....,Listening,Wrong Words,NaN,34.0,3
1,22-11-2021,amznsram,1,,czvij,MAA,sranyk,MAA,Verfiy-1,00:01:01.354,0fe8e8fc2044b473271f7e6110579b5c,Customer Care - Insurance,-,-,Segmentation,Noise: Extra/Missed,Noises Extra,2.0,1
2,22-11-2021,amznsram,1,,czvij,MAA,gkvitha,MAA,Verfiy-1,00:01:52.686,021b375e163317a43394c25c351c80e5,Customer Care - Others,-,-,Segmentation,Noise: Extra/Missed,Noises Missed,2.0,1
3,22-11-2021,amznsram,1,,czvij,MAA,rmmkir,MAA,Verfiy-1,00:01:07.680,56f1a59743ed1557137ddd968dc78c0b,Customer Care - Insurance,-,-,Segmentation,Noise: Extra/Missed,Noises Missed,2.0,1
4,22-11-2021,amznsram,1,,czvij,MAA,lullat,MAA,Verfiy-1,00:00:06.480,aeac9bda5aabf23c3313f69b5dc2ec91,Other: Mention in comments,-,-,Segmentation,Noise: Extra/Missed,Noises Missed,2.0,1

In [14]:
df['EC Count'].count

<bound method Series.count of 0       1
1       1
2       1
3       1
4       1
       ..
8034    1
8035    1
8036    1
8037    1
8038    1
Name: EC Count, Length: 8039, dtype: int64>

In [15]:
##view pivot
table_sss = pd.pivot_table(df, values=['EC Count'], index=['User ID','Verif_TM'], columns= ['Date'] ,margins=False,
               margins_name='total', aggfunc=sum , fill_value=0)
## display all options
pd.set_option('display.max_rows', df.shape[0]+1)

table_sss.style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','solid'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','solid'),
            ('border-width','thin'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}

]
).set_precision(2)

In [16]:
##to inidivually spot user ID for mails
table_sss.index[0]

('amznsram', 'czvij')

In [17]:
##Daily Sampling Mail Report to verifers

import win32com.client as win32
outlook = win32.Dispatch('outlook.application')
for i in range(0,len(table_sss)):
    mail = outlook.CreateItem(0)

    mail.Subject = 'AWS Verification Sampling Report'

   
    mail.To = table_sss.index.get_level_values('User ID')[i] + '@amazon.com'
    mail.CC = table_sss.index.get_level_values('Verif_TM')[i] + '@amazon.com'
    
## i-> position of data in dataframe
    mail.HTMLBody = '''<h3>Hi, Please find your sampled counts for the week.</h3>
                   {}'''.format(table_sss[i:i+1].style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}

]
).set_precision(2).render())  ## : i + 1 increment 1 of index 
# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

    mail.Send()

In [18]:
##view pivot for Scorecard ES score
table = pd.pivot_table(df, values=['Total Opportunities'], index=['User ID'], columns= ['Date'] ,margins=True,
               margins_name='total', aggfunc=np.mean , fill_value=0)
## display all options
pd.set_option('display.max_rows', df.shape[0]+1)
table.round(2)

         Total Opportunities                                              \
Date              22-11-2021 23-11-2021 24-11-2021 25-11-2021 26-11-2021
User ID
amznsram               14.93       6.60      46.00       6.20      11.87
cliffpal               10.52       7.67       7.89       0.00       7.78
dennypau                8.95       7.57       9.20      10.41       0.00
djaga                   9.90       6.31       5.26       7.84       9.43
dogiboin               10.25       9.79       8.52       0.00       0.00
gopinana                0.00      12.53       8.22       0.00       9.93
jhus                   11.08      11.20       7.80      11.63      13.25
keerdoss                6.96       6.75       6.63       9.98       7.11
mmzsai                  9.08       8.14       9.77       0.00      10.87
ntox                    8.39       5.36       8.25       6.53       0.00
pdikcha                 8.53      11.61       8.08      10.93       7.47
utasneem               11.79      11.07       0.00       7.99       8.62
vsreevat                9.07      11.38       7.33       6.83       8.94
total                   9.67       8.70       7.82       8.80       9.58


Date      total
User ID
amznsram  11.11
cliffpal   8.38
dennypau   8.99
djaga      7.47
dogiboin   9.51
gopinana   9.96
jhus      10.96
keerdoss   7.36
mmzsai     9.50
ntox       6.84
pdikcha    9.03
utasneem   9.75
vsreevat   8.51
total      8.91

In [40]:
##view pivot for scorecard defects
table_defects = pd.pivot_table(df, values=['Total Defects'], index=['User ID'], columns= ['Date'] ,margins=True,
               margins_name='total', aggfunc=sum , fill_value=0)
## display all options
pd.set_option('display.max_rows', df.shape[0]+1)
table_defects.round(2)

         Total Defects
Date        22-11-2021 23-11-2021 24-11-2021   total
User ID
amznsram           104         73          3   180.0
cliffpal            30          6          0    36.0
dennypau             7         14          0    21.0
djaga               89        172         50   311.0
dogiboin             9          0          0     9.0
gopinana             0         19          0    19.0
jhus                18         18          0    36.0
keerdoss            31         26          0    57.0
mmzsai               5          9          0    14.0
ntox                28         78          0   106.0
pdikcha            100         46          0   146.0
utasneem            65         83          0   148.0
vsreevat            41         33          0    74.0
total              527        577         53  1157.0

In [19]:
##view pivot for scorecard opportunities
table_opportunities = pd.pivot_table(df, values=['Total Opportunities'], index=['User ID'], columns= ['Date'] ,margins=True,
               margins_name='total', aggfunc=sum , fill_value=0)
## display all options
pd.set_option('display.max_rows', df.shape[0]+1)
table_opportunities

         Total Opportunities                                              \
Date              22-11-2021 23-11-2021 24-11-2021 25-11-2021 26-11-2021
User ID
amznsram                 911        350         92        155        914
cliffpal                 663        506        702          0        576
dennypau                 985       1045       1058       1270          0
djaga                   1604       1956       1015       1765       1508
dogiboin                1045        881        869          0          0
gopinana                   0       1378       1299          0       2402
jhus                    1895       2151       1756       2222       2982
keerdoss                 946        911        816        988        910
mmzsai                   899        847       1250          0       1185
ntox                     948        986        858       1058          0
pdikcha                 1638       1103       1163       2087       1778
utasneem                1379       1539          0       1174       1233
vsreevat                1360       1695       1048       1695       1618
total                  14273      15348      11926      12414      15106


Date        total
User ID
amznsram   2422.0
cliffpal   2447.0
dennypau   4358.0
djaga      7848.0
dogiboin   2795.0
gopinana   5079.0
jhus      11006.0
keerdoss   4571.0
mmzsai     4181.0
ntox       3850.0
pdikcha    7769.0
utasneem   5325.0
vsreevat   7416.0
total     69067.0

In [20]:
##view pivot for scorecard
table = pd.pivot_table(df, values=['EC Count'], index=['User ID'], columns= ['Date'] ,margins=True,
               margins_name='total', aggfunc=sum , fill_value=0)
## display all options
pd.set_option('display.max_rows', df.shape[0]+1)
table

           EC Count
Date     22-11-2021 23-11-2021 24-11-2021 25-11-2021 26-11-2021 total
User ID
amznsram         67         57          2         27         81   234
cliffpal         72         66         91          0         76   305
dennypau        111        138        115        123          0   487
djaga           167        328        195        233        176  1099
dogiboin        102         90        102          0          0   294
gopinana          0        112        159          0        244   515
jhus            172        194        226        195        233  1020
keerdoss        136        135        123         99        128   621
mmzsai          101        104        129          0        109   443
ntox            114        194        108        172          0   588
pdikcha         207        102        158        206        254   927
utasneem        131        151          0        150        154   586
vsreevat        159        162        150        258        191   920
total          1539       1833       1558       1463       1646  8039

In [21]:
df['Total Opportunities'].sum()

69067.0

In [22]:
(100*(table_defects['Total Defects']/table_opportunities['Total Opportunities'])).round(2)

NameError: name 'table_defects' is not defined