In [24]:
## Import Liberaries
import pandas as pd
import numpy as np
df= pd.read_excel(r'C:\Users\arvinmvn\Desktop\AWS SAMI Reports\MAA\AWS MAA Scorecard Report\AWS Verification Scorecard Report.xlsx')
df.head()

,Week,User ID,Site,TM,Processed Hours,Total Autolog,Processed Minutes in MilliSeconds(*60*1000),Auto Log in milliSeconds (3600*1000),Aht= ( Autolog in millieseconds)/(Processed hours in millieseconds),Encryption Score,Overturn %,2nd Skill,Time,Quality
0,23.0,cliffpal,MAA,czvij,119.853,29.1158,7191180.0,104816880.0,14.575755,9.923690,0.013677,NaN,NaN,NaN
1,23.0,dennypau,MAA,czvij,152.938,32.1200,9176280.0,115632000.0,12.601185,8.588488,0.012253,Yes,NaN,NaN
2,23.0,devarapr,MAA,czvij,88.252,25.9631,5295120.0,93467160.0,17.651566,10.705019,0.023112,NaN,NaN,NaN
3,23.0,djaga,MAA,czvij,146.316,32.7837,8778960.0,118021320.0,13.443656,9.741136,0.024629,NaN,NaN,NaN
4,23.0,gopinana,MAA,czvij,126.136,32.1347,7568160.0,115684920.0,15.285739,9.032145,0.015949,NaN,NaN,NaN

In [25]:
##Rename the columns
df = df.rename(columns = {'Aht=  ( Autolog in millieseconds)/(Processed hours in millieseconds)': 'AHT','Encryption Score': 'ES','Processed Hours': 'Throughput'}, inplace = False)
df.head()

,Week,User ID,Site,TM,Throughput,Total Autolog,Processed Minutes in MilliSeconds(*60*1000),Auto Log in milliSeconds (3600*1000),AHT,ES,Overturn %,2nd Skill,Time,Quality
0,23.0,cliffpal,MAA,czvij,119.853,29.1158,7191180.0,104816880.0,14.575755,9.923690,0.013677,NaN,NaN,NaN
1,23.0,dennypau,MAA,czvij,152.938,32.1200,9176280.0,115632000.0,12.601185,8.588488,0.012253,Yes,NaN,NaN
2,23.0,devarapr,MAA,czvij,88.252,25.9631,5295120.0,93467160.0,17.651566,10.705019,0.023112,NaN,NaN,NaN
3,23.0,djaga,MAA,czvij,146.316,32.7837,8778960.0,118021320.0,13.443656,9.741136,0.024629,NaN,NaN,NaN
4,23.0,gopinana,MAA,czvij,126.136,32.1347,7568160.0,115684920.0,15.285739,9.032145,0.015949,NaN,NaN,NaN

In [26]:
##Change overturn % to percent

for i in range(0,len(df)):
    df['Overturn %'].values[i]=100*(df['Overturn %'].values[i])
df.head()

,Week,User ID,Site,TM,Throughput,Total Autolog,Processed Minutes in MilliSeconds(*60*1000),Auto Log in milliSeconds (3600*1000),AHT,ES,Overturn %,2nd Skill,Time,Quality
0,23.0,cliffpal,MAA,czvij,119.853,29.1158,7191180.0,104816880.0,14.575755,9.923690,1.367701,NaN,NaN,NaN
1,23.0,dennypau,MAA,czvij,152.938,32.1200,9176280.0,115632000.0,12.601185,8.588488,1.225259,Yes,NaN,NaN
2,23.0,devarapr,MAA,czvij,88.252,25.9631,5295120.0,93467160.0,17.651566,10.705019,2.311161,NaN,NaN,NaN
3,23.0,djaga,MAA,czvij,146.316,32.7837,8778960.0,118021320.0,13.443656,9.741136,2.462888,NaN,NaN,NaN
4,23.0,gopinana,MAA,czvij,126.136,32.1347,7568160.0,115684920.0,15.285739,9.032145,1.594896,NaN,NaN,NaN

In [27]:
## Pivot Data
table = pd.pivot_table(df[df['Week']==44], values=['Throughput','Total Autolog','AHT','Quality'], index=['User ID','TM'],margins=False,
               margins_name='total', aggfunc=sum , fill_value=0)
table.round(2)

                    AHT  Quality  Throughput  Total Autolog
User ID  TM
cliffpal czvij    15.37   100.00       88.25          22.61
dennypau czvij    19.21   100.00       61.67          19.74
djaga    czvij    13.95   100.00      101.85          23.68
dogiboin latikat  29.30     0.00       78.49          38.33
gopinana czvij    21.13   100.00       26.77           9.43
jhus     czvij    12.90   100.00      134.95          29.01
keerdoss czvij     8.78   100.00      131.29          19.22
mkhanoaf latikat  46.25    94.42       51.23          39.49
mmzsai   czvij    13.55   100.00       88.04          19.89
ntox     czvij    25.44   100.00       74.43          31.55
pdikcha  czvij    13.81   100.00       91.99          21.18
rkkaithi latikat  42.09    91.44       26.86          18.84
smrithj  latikat  50.53   100.00       16.20          13.64
snnwaz   latikat  25.39    95.40       84.65          35.82
utasneem latikat  30.51   100.00       46.71          23.75
vsreevat czvij    16.09   100.00       91.71          24.59

In [30]:
## bulk mail
import win32com.client as win32
outlook = win32.Dispatch('outlook.application')
for i in range(0,len(table)):
    mail = outlook.CreateItem(0)

    mail.Subject = 'AWS Weekly Performance Summary Report'
    
   
    mail.To = table.index.get_level_values('User ID')[i]+'@amazon.com' 
    mail.CC = table.index.get_level_values('TM')[i] + '@amazon.com'
    
## i-> position of data in dataframe
    mail.HTMLBody = '''<h3>Hi, Please find your AWS Weekly Performance Summary for the Week .</h3>
                   {}'''.format(table.round(2)[i:i+1].to_html())  ## : i + 1 increment 1 of index 
# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

    mail.Send()

In [11]:
## Pivot Data
table = pd.pivot_table(df, values=['Total Opportunities'], index=['User ID'],columns = ['Week'] ,margins=False,
               margins_name='total', aggfunc=sum , fill_value=0)
table.round(2)

         Overturn %                                                        \
Week             23    24    25    26    27    28    29    30    31    32
User ID
cliffpal       1.37  0.85  1.26  0.59  1.82  2.19  1.18  3.52  1.85  1.91
dennypau       1.23  0.37  1.17  0.83  1.09  2.04  2.49  1.50  2.93  1.80
devarapr       2.31  1.67  1.44  1.52  1.36  2.17  1.51  1.65  1.58  1.57
djaga          2.46  5.10  2.06  1.73  1.11  2.38  2.34  1.55  5.65  1.90
gopinana       1.59  6.49  4.30  8.61  3.18  4.78  2.35  3.84  3.53  1.33
jhus           4.13  3.40  2.08  3.12  9.30  2.20  3.91  3.49  2.54  5.97
keerdoss       1.07  0.66  4.60  0.44  0.33  0.61  4.83  0.56  0.54  1.88
mhaaami        1.12  7.82  5.16  0.00  6.21  4.63  7.13  2.89  1.92  3.50
ntox           6.21  4.41  0.21  5.09  4.81  5.94  6.50  7.57  4.78  5.34
nvemn          0.00  0.25  4.34  0.61  0.43  0.50  0.86  0.87  0.42  0.50
pdikcha        4.66  7.22  3.00  4.89  5.03  6.29  6.49  6.79  5.33  5.49


Week        33
User ID
cliffpal  2.89
dennypau  2.81
devarapr  1.16
djaga     1.15
gopinana  2.87
jhus      4.47
keerdoss  6.41
mhaaami   3.94
ntox      4.23
nvemn     0.36
pdikcha   4.80

In [ ]:
## bulk mail for hourly processed coint (hourly velocity)

import win32com.client as win32
outlook = win32.Dispatch('outlook.application')
for i in range(0,len(table_velocity)):
    mail = outlook.CreateItem(0)

    mail.Subject = 'AWS Velocity Verification Report'


    mail.To = str(table_final.index[i])+'@amazon.com' 
    mail.CC = 'dmaniva@amazon.com'
    
## i-> position of data in dataframe
    mail.HTMLBody = '''<h3>Hi, Please find velocity per hour for the week.</h3>
                   {}'''.format(table[i:i+1].to_html())  ## : i + 1 increment 1 of index 
# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

    mail.Send()