In [15]:
## AWS SAMMI end to end processed hours automation report
##import liberaries
import pandas as pd
import numpy as np
import datetime as dt

In [16]:
## download the file from quip and Read it from local directory

df1= pd.read_csv(r'C:\Users\arvinmvn\AppData\Local\Temp\cliffpal.csv',)
df2= pd.read_csv(r'C:\Users\arvinmvn\AppData\Local\Temp\dennypau.csv',)
df3= pd.read_csv(r'C:\Users\arvinmvn\AppData\Local\Temp\djaga.csv',)
df4= pd.read_csv(r'C:\Users\arvinmvn\AppData\Local\Temp\jhus.csv',)
df5= pd.read_csv(r'C:\Users\arvinmvn\AppData\Local\Temp\gopinana.csv',)
df6= pd.read_csv(r'C:\Users\arvinmvn\AppData\Local\Temp\keerdoss.csv',)
df7= pd.read_csv(r'C:\Users\arvinmvn\AppData\Local\Temp\mmzsai.csv',)
df8= pd.read_csv(r'C:\Users\arvinmvn\AppData\Local\Temp\pdikcha.csv',)
df9= pd.read_csv(r'C:\Users\arvinmvn\AppData\Local\Temp\ntox.csv',)
df10= pd.read_csv(r'C:\Users\arvinmvn\AppData\Local\Temp\vsreevat.csv',)
df11= pd.read_csv(r'C:\Users\arvinmvn\AppData\Local\Temp\rkkaithi.csv',)
df12= pd.read_csv(r'C:\Users\arvinmvn\AppData\Local\Temp\smrithj.csv',)
df13= pd.read_csv(r'C:\Users\arvinmvn\AppData\Local\Temp\utasneem.csv',)
df14= pd.read_csv(r'C:\Users\arvinmvn\AppData\Local\Temp\dogiboin.csv',)
df15= pd.read_csv(r'C:\Users\arvinmvn\AppData\Local\Temp\mkhanoaf.csv',)
df16= pd.read_csv(r'C:\Users\arvinmvn\AppData\Local\Temp\snnwaz.csv',)
df17= pd.read_csv(r'C:\Users\arvinmvn\AppData\Local\Temp\amznsram.csv',)
all_df_list = [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df16,df17]

##join all sheets
df = pd.concat(all_df_list)
## remove empty rows
df.dropna(subset = ["Completed Duration (HH:MM:SS.mss)"], inplace=True)
#df=df[df['Completed Duration (HH:MM:SS.mss)'].map(len) == 12]
df.head()

,Week,User ID,Site,Audio Duration (HH:MM:SS.mss),Audio Category,Audio Sub Category,Number Of Speakers,Start Date (MM/DD/YYYY),Entry Date,End Date (MM/DD/YYYY),Completed Duration (HH:MM:SS.mss),File_Status(Completed/In Progress),Time taken,Unnamed: 13,Audio category,Unnamed: 14,DMID,Time taken( in minutes),Transformation
0,11,cliffpal,MAA,00:00:06.090,Customer care - Others,NaN,1,03/19/2021,03/19/2021,03/19/2021,00:00:06.090,Completed,1 min,NaN,NaN,NaN,NaN,NaN,NaN
1,11,cliffpal,MAA,00:00:22.380,Media - Narration,NaN,1,03/19/2021,03/19/2021,03/19/2021,00:00:22.380,Completed,6 mins,NaN,NaN,NaN,NaN,NaN,NaN
2,11,cliffpal,MAA,00:00:15.060,Media - Others,NaN,1,03/19/2021,03/19/2021,03/19/2021,00:00:15.060,Completed,3 mins,NaN,NaN,NaN,NaN,NaN,NaN
3,11,cliffpal,MAA,00:03:03.900,Customer care - Others,NaN,2,03/19/2021,03/19/2021,03/19/2021,00:03:03.900,Completed,50 mins,NaN,NaN,NaN,NaN,NaN,NaN
4,11,cliffpal,MAA,00:00:18.500,Others - Others,NaN,1,03/19/2021,03/19/2021,03/19/2021,00:00:18.500,Completed,8 mins,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
#insert processed hours column, we will use these two colums to computer processed hours
df.insert(9, "File compare","")
df.insert(10, "Processed Hours","")
df.insert(11, "TM","")
df.head()

,Week,User ID,Site,Audio Duration (HH:MM:SS.mss),Audio Category,Audio Sub Category,Number Of Speakers,Start Date (MM/DD/YYYY),Entry Date,File compare,...,End Date (MM/DD/YYYY),Completed Duration (HH:MM:SS.mss),File_Status(Completed/In Progress),Time taken,Unnamed: 13,Audio category,Unnamed: 14,DMID,Time taken( in minutes),Transformation
0,11,cliffpal,MAA,00:00:06.090,Customer care - Others,NaN,1,03/19/2021,03/19/2021,,...,03/19/2021,00:00:06.090,Completed,1 min,NaN,NaN,NaN,NaN,NaN,NaN
1,11,cliffpal,MAA,00:00:22.380,Media - Narration,NaN,1,03/19/2021,03/19/2021,,...,03/19/2021,00:00:22.380,Completed,6 mins,NaN,NaN,NaN,NaN,NaN,NaN
2,11,cliffpal,MAA,00:00:15.060,Media - Others,NaN,1,03/19/2021,03/19/2021,,...,03/19/2021,00:00:15.060,Completed,3 mins,NaN,NaN,NaN,NaN,NaN,NaN
3,11,cliffpal,MAA,00:03:03.900,Customer care - Others,NaN,2,03/19/2021,03/19/2021,,...,03/19/2021,00:03:03.900,Completed,50 mins,NaN,NaN,NaN,NaN,NaN,NaN
4,11,cliffpal,MAA,00:00:18.500,Others - Others,NaN,1,03/19/2021,03/19/2021,,...,03/19/2021,00:00:18.500,Completed,8 mins,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df['File compare'] = df['Audio Duration (HH:MM:SS.mss)'].eq(df['Audio Duration (HH:MM:SS.mss)'].shift())

df.head()

,Week,User ID,Site,Audio Duration (HH:MM:SS.mss),Audio Category,Audio Sub Category,Number Of Speakers,Start Date (MM/DD/YYYY),Entry Date,File compare,...,End Date (MM/DD/YYYY),Completed Duration (HH:MM:SS.mss),File_Status(Completed/In Progress),Time taken,Unnamed: 13,Audio category,Unnamed: 14,DMID,Time taken( in minutes),Transformation
0,11,cliffpal,MAA,00:00:06.090,Customer care - Others,NaN,1,03/19/2021,03/19/2021,False,...,03/19/2021,00:00:06.090,Completed,1 min,NaN,NaN,NaN,NaN,NaN,NaN
1,11,cliffpal,MAA,00:00:22.380,Media - Narration,NaN,1,03/19/2021,03/19/2021,False,...,03/19/2021,00:00:22.380,Completed,6 mins,NaN,NaN,NaN,NaN,NaN,NaN
2,11,cliffpal,MAA,00:00:15.060,Media - Others,NaN,1,03/19/2021,03/19/2021,False,...,03/19/2021,00:00:15.060,Completed,3 mins,NaN,NaN,NaN,NaN,NaN,NaN
3,11,cliffpal,MAA,00:03:03.900,Customer care - Others,NaN,2,03/19/2021,03/19/2021,False,...,03/19/2021,00:03:03.900,Completed,50 mins,NaN,NaN,NaN,NaN,NaN,NaN
4,11,cliffpal,MAA,00:00:18.500,Others - Others,NaN,1,03/19/2021,03/19/2021,False,...,03/19/2021,00:00:18.500,Completed,8 mins,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
## change the true or false to 1 or 0, match is true, mismatch is false
for column in df['File compare']:
    df['File compare'] = df['File compare'].replace(True,1)
    df['File compare'] = df['File compare'].replace(False,0) 

#pd.set_option('display.max_rows',None)
df.head()

,Week,User ID,Site,Audio Duration (HH:MM:SS.mss),Audio Category,Audio Sub Category,Number Of Speakers,Start Date (MM/DD/YYYY),Entry Date,File compare,...,End Date (MM/DD/YYYY),Completed Duration (HH:MM:SS.mss),File_Status(Completed/In Progress),Time taken,Unnamed: 13,Audio category,Unnamed: 14,DMID,Time taken( in minutes),Transformation
0,11,cliffpal,MAA,00:00:06.090,Customer care - Others,NaN,1,03/19/2021,03/19/2021,0.0,...,03/19/2021,00:00:06.090,Completed,1 min,NaN,NaN,NaN,NaN,NaN,NaN
1,11,cliffpal,MAA,00:00:22.380,Media - Narration,NaN,1,03/19/2021,03/19/2021,0.0,...,03/19/2021,00:00:22.380,Completed,6 mins,NaN,NaN,NaN,NaN,NaN,NaN
2,11,cliffpal,MAA,00:00:15.060,Media - Others,NaN,1,03/19/2021,03/19/2021,0.0,...,03/19/2021,00:00:15.060,Completed,3 mins,NaN,NaN,NaN,NaN,NaN,NaN
3,11,cliffpal,MAA,00:03:03.900,Customer care - Others,NaN,2,03/19/2021,03/19/2021,0.0,...,03/19/2021,00:03:03.900,Completed,50 mins,NaN,NaN,NaN,NaN,NaN,NaN
4,11,cliffpal,MAA,00:00:18.500,Others - Others,NaN,1,03/19/2021,03/19/2021,0.0,...,03/19/2021,00:00:18.500,Completed,8 mins,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
##since all the sheets of each user ID is merged, we need to reset the index value, this will help us map the for loop.
##without resting the index value will revert to 0 once the new user id occurs, with the reset value it will continue to increment
## for example without index 0,1,2,3,0,1,2,3, and so on, with index rest 0,1,2,3,4,..100
##the updated index will map righlty to the completed audio lengths.

df.reset_index(inplace=True)

In [11]:
##check RAW data

#df=df[df['Week']>=40]
#pd.set_option('display.max_rows',None)
#df[['Completed Duration (HH:MM:SS.mss)','Entry Date','User ID']]
#df=df[df['Completed Duration (HH:MM:SS.mss)'].map(len) == 12]
#df['Completed Duration (HH:MM:SS.mss)'].str.len().unique()
df.to_excel(r'C:\Users\arvinmvn\desktop\result1.xlsx')

In [21]:
df['Completed Duration (HH:MM:SS.mss)'].unique()

array(['00:00:06.090', '00:00:22.380', '00:00:15.060', ...,
       '00:01:33.112', '00:00:43.920', '00:01:23.099'], dtype=object)

In [22]:
##Working code ..SSS!!!!, the processed audio hours is show in minutes

## if validation = false, then they are two different files so File length = processed length, else processed length = audio length - completed length
#df.head() 
#for number in range(len(df_users)):
 #   df= df[(df_users["User ID"]) == 10]
#for i in range(len(df_users)):


for i in range(len(df)):
   
        if df['File compare'].values[i] == 1.0:    
            #df['Processed Hours'][i]= pd.to_datetime(df['Audio Duration\r\n(HH:MM:SS.mss)'][i]) - pd.to_datetime(df['Completed Duration (HH:MM:SS.mss)'][i])
            # df['Column'].values[i] 
           # df['Processed Hours'][i]= df['Number Of Speakers'][i]
            sh=  str(df['Completed Duration (HH:MM:SS.mss)'].values[i])
            sv=  str(df['Completed Duration (HH:MM:SS.mss)'].values[i-1])
            h,m,s = sh.split(':' or '.')
            p,r,b = sv.split(':' or '.')
            df['Processed Hours'].values[i]= float(dt.timedelta(hours=int(h),minutes=int(m),seconds=float(s)).total_seconds()/60)- float(dt.timedelta(hours=int(p),minutes=int(r),seconds=float(b)).total_seconds()/60)
            i=i+1
            # print('hi')                       
           
        else:
            iv = str(df['Completed Duration (HH:MM:SS.mss)'].values[i])
            a,k,y = iv.split(':' or '.')
            
            df['Processed Hours'][i]= float(dt.timedelta(hours=int(a),minutes=int(k),seconds=float(y)).total_seconds()/60)
            i=i+1
             #print('hie i am 1')

        
df.head()

<ipython-input-22-fe601b5a497a>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Processed Hours'][i]= float(dt.timedelta(hours=int(a),minutes=int(k),seconds=float(y)).total_seconds()/60)

,index,Week,User ID,Site,Audio Duration (HH:MM:SS.mss),Audio Category,Audio Sub Category,Number Of Speakers,Start Date (MM/DD/YYYY),Entry Date,...,End Date (MM/DD/YYYY),Completed Duration (HH:MM:SS.mss),File_Status(Completed/In Progress),Time taken,Unnamed: 13,Audio category,Unnamed: 14,DMID,Time taken( in minutes),Transformation
0,0,11,cliffpal,MAA,00:00:06.090,Customer care - Others,NaN,1,03/19/2021,03/19/2021,...,03/19/2021,00:00:06.090,Completed,1 min,NaN,NaN,NaN,NaN,NaN,NaN
1,1,11,cliffpal,MAA,00:00:22.380,Media - Narration,NaN,1,03/19/2021,03/19/2021,...,03/19/2021,00:00:22.380,Completed,6 mins,NaN,NaN,NaN,NaN,NaN,NaN
2,2,11,cliffpal,MAA,00:00:15.060,Media - Others,NaN,1,03/19/2021,03/19/2021,...,03/19/2021,00:00:15.060,Completed,3 mins,NaN,NaN,NaN,NaN,NaN,NaN
3,3,11,cliffpal,MAA,00:03:03.900,Customer care - Others,NaN,2,03/19/2021,03/19/2021,...,03/19/2021,00:03:03.900,Completed,50 mins,NaN,NaN,NaN,NaN,NaN,NaN
4,4,11,cliffpal,MAA,00:00:18.500,Others - Others,NaN,1,03/19/2021,03/19/2021,...,03/19/2021,00:00:18.500,Completed,8 mins,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
## iterate TMs based on sites

for i in range (0,len(df)):
    
    if df['Site'].values[i]== 'MAA':
        df['TM'].values[i]='czvij'
    
    if df['Site'].values[i]== 'HYD':
        df['TM'].values[i]='latikat'

In [24]:
##convert processed hours, week to integer and entry date to datetime to accurately pullout out the raw data

df["Processed Hours"] = pd.to_numeric(df["Processed Hours"])
df["Week"] = pd.to_numeric(df["Week"])
df["Entry Date"] = pd.to_datetime(df["Entry Date"])

In [25]:
##RAW data

df = df[df['Week'].between(48,49)]
df_raw = df[['User ID','Site','TM','Week','Entry Date','DMID','Audio Duration (HH:MM:SS.mss)','Audio Category', 'Completed Duration (HH:MM:SS.mss)','Entry Date','File compare','Processed Hours','Time taken']]
#pd.set_option('display.max_rows', None)
#item_counts = df_raw["Audio Duration (HH:MM:SS.mss)"].value_counts(normalize=True)
#print(item_counts)
df_raw.head()

,User ID,Site,TM,Week,Entry Date,DMID,Audio Duration (HH:MM:SS.mss),Audio Category,Completed Duration (HH:MM:SS.mss),Entry Date,File compare,Processed Hours,Time taken
2209,cliffpal,MAA,czvij,48,2021-11-29,NaN,00:00:02.624,Customer care - Others,00:00:02.624,2021-11-29,0.0,0.043733,3
2210,cliffpal,MAA,czvij,48,2021-11-29,NaN,00:00:24.056,Customer care - Callback appointment,00:00:24.056,2021-11-29,0.0,0.400933,5
2211,cliffpal,MAA,czvij,48,2021-11-29,NaN,00:01:01.848,Customer care - Others,00:01:01.848,2021-11-29,0.0,1.030800,16
2212,cliffpal,MAA,czvij,48,2021-11-29,NaN,00:00:19.304,Customer care - Others,00:00:19.304,2021-11-29,0.0,0.321733,5
2213,cliffpal,MAA,czvij,48,2021-11-29,NaN,00:01:06.212,Customer care - Others,00:01:06.212,2021-11-29,0.0,1.103533,15

In [26]:
df_raw['TM'].unique()

array(['czvij', 'latikat'], dtype=object)

In [29]:
# conver to csv (for master file)
df_raw.to_excel(r'C:\Users\arvinmvn\desktop\Fileupload.xlsx')

In [30]:
##test pivot to see if all the DAs are mapped


table = pd.pivot_table(df[(df["Entry Date"] < '2021-12-02')], values=['Processed Hours'], index=['User ID','TM'], columns= ['Entry Date'] ,margins=False,
               margins_name='total', aggfunc=np.sum , fill_value=0)


## for processed hours

table_processed_hours= table.round(2)
table_processed_hours

                 Processed Hours
Entry Date            2021-11-29 2021-11-30 2021-12-01
User ID  TM
Smrithj  latikat           16.09      15.84      27.97
amznsram czvij             30.16      26.84      33.17
cliffpal czvij             30.90      34.01      26.93
dennypau czvij              8.93      28.89       0.00
djaga    czvij             39.60       0.00      30.14
dogiboin latikat            0.00      35.54       0.00
gopinana czvij             33.44      29.56      33.61
jhus     czvij             43.80      42.05      40.20
keerdoss czvij             43.13      39.95      38.56
mkhanoaf latikat           11.49       0.00       6.18
mmzsai   czvij              0.00       0.00      36.41
ntox     czvij             25.07      29.23      29.78
pdikcha  czvij             32.86      30.80      30.92
rkkaithi latikat           13.35       0.00       5.88
snnwaz   latikat           12.23      25.29      14.07
utasneem latikat           28.15      32.57       0.00
vsreevat czvij             20.22      45.47      28.99

In [52]:
##for bulk email 
import win32com.client as win32
outlook = win32.Dispatch('outlook.application')
for i in range(0,len(table)):
    mail = outlook.CreateItem(0)

    mail.Subject = 'AWS Verification Processed Minutes Throughput Report'


    mail.To = table_processed_hours.index.get_level_values('User ID')[i] + '@amazon.com'
    mail.CC = table_processed_hours.index.get_level_values('TM')[i] + '@amazon.com'
    
## i-> position of data in dataframe
    mail.HTMLBody = '''<h3>Hi, Please find your processed minutes for the week.</h3>
                   {}'''.format(table_processed_hours[i:i+1].style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#F5F5F5'), 
            ('color', 'black'),
            ('font-family', 'verdana'),
            ('border-style','double'),
            ('border-width','thin'),
           ('font-weight', 'normal'),
           ('text-align','center')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana'),
           ('border-style','double'),
            ('border-width','thin'),
           ('text-align','center'),
           ('text-align','center')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', 'white')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', 'yellow')]}

]
).set_precision(2).render())  ## : i + 1 increment 1 of index 
# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

    mail.Send()

In [ ]:
## for autologhours
df1= pd.read_excel(r'C:\Users\arvinmvn\Desktop\Autologhours.xlsx',)
df1["Entry Date"] = pd.to_datetime(df1["Entry Date"])
df1.dropna(subset = ["Entry Date"], inplace=True)

df1.head()

In [ ]:
##pivot the value user ID vs date

table_autolog = pd.pivot_table(df1, values=['Autolog'], index=['User ID'], columns= ['Entry Date'] ,margins=False,
               margins_name='total', aggfunc=sum , fill_value=0)
table_autolog.round(2)

In [ ]:
table_final=table['Processed Hours']/table_autolog['Autolog']
table_final.round(2)

In [ ]:
## bulk mail for autologhours

import win32com.client as win32
outlook = win32.Dispatch('outlook.application')
for i in range(0,len(table_velocity)):
    mail = outlook.CreateItem(0)

    mail.Subject = 'AWS Velocity Verification Report'


    mail.To = str(table_autolog.index[i])+'@amazon.com' 
    mail.CC = 'thenmozs@amazon.com'
    
## i-> position of data in dataframe
    mail.HTMLBody = '''<h3>Hi, Please find velocity per hour for the week.</h3>
                   {}'''.format(table_autolog[i:i+1].to_html())  ## : i + 1 increment 1 of index 
# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

    mail.Send()

In [ ]:
## bulk mail for hourly processed coint (hourly velocity)

import win32com.client as win32
outlook = win32.Dispatch('outlook.application')
for i in range(0,len(table_velocity)):
    mail = outlook.CreateItem(0)

    mail.Subject = 'AWS Velocity Verification Report'


    mail.To = str(table_final.index[i])+'@amazon.com' 
    mail.CC = 'thenmozs@amazon.com'
    
## i-> position of data in dataframe
    mail.HTMLBody = '''<h3>Hi, Please find velocity per hour for the week.</h3>
                   {}'''.format(table_final[i:i+1].to_html())  ## : i + 1 increment 1 of index 
# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

    mail.Send()

In [ ]:
## for per hour throughput velocity is processed hours by 8.
table = pd.pivot_table(df[(df["Entry Date"]>= '2021-04-13')], values=['Processed Hours'], index=['User ID'], columns= ['Entry Date'] ,margins=False,
               margins_name='total', aggfunc=np.sum , fill_value=0)
table_velocity= table.div(8).round(3)
table_velocity

In [ ]:
table/table_velocity

In [ ]:
##for bulk email for velocity 
import win32com.client as win32
outlook = win32.Dispatch('outlook.application')
for i in range(0,len(table_velocity)):
    mail = outlook.CreateItem(0)

    mail.Subject = 'AWS Velocity Verifiction Report'


    mail.To = str(table_velocity.index[i])+'@amazon.com' 
    mail.CC = 'thenmozs@amazon.com'
    
## i-> position of data in dataframe
    mail.HTMLBody = '''<h3>Hi, Please find velocity per hour for the week.</h3>
                   {}'''.format(table_velocity[i:i+1].to_html())  ## : i + 1 increment 1 of index 
# To attach a file to the email (optional):
#attachment  = "Path to the attachment"
#mail.Attachments.Add(attachment)

    mail.Send()